:root {
    --main-text-color: #434455;
    --dark-text-color: #2E2F42;
    --background-color: #FFFFFF;
    --primary-brand-color: #4D5AE5;
    --secondary-background-color: #F4F4FD;
    --description-color: #E7E9FC;
    --hover-button-color: #404BBF;
    --subtle-text-color: #8E8F99; 
     
}

/* GLOBAL STYLES */
body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
footer {background-color: var(--dark-text-color);}

.link {
    text-decoration: none;
    color: var(--dark-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.contact-link {
    color: var(--main-text-color); 
    font-weight: 400;
}

.link:hover,
.link:focus {
    color: var(--primary-brand-color);
}

.current-link {
    color: var(--primary-brand-color);
}
.list {
    list-style: none;
}
.logo {
    color: var(--primary-brand-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1.33;
    font-size: 18px;
    letter-spacing: 0.03em;
}
.logo-dark {
    color: var(--dark-text-color);
}
.logo-white {
  color: var(--secondary-background-color);
}

.footer-description {
    color: var(--description-color);
}

/* INDEX.HTML STYLES */
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--background-color);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero-section {background-color: var(--dark-text-color);}

.hero-button {
    background-color: var(--primary-brand-color);
    color: var(--background-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-button:hover {
    background-color: var(--hover-button-color);
}

.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: var(--dark-text-color);
}

.team {
    background-color:var(--secondary-background-color);
}

.team-background {
    background-color: var(--background-color);
}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark-text-color);
}

/* PORTFOLIO STYLES */

.filter-btn {
    background-color:var(--secondary-background-color) ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--hover-button-color) ;
    color: var(--background-color);
}
